<div class="container-login">
  <h2>日々の変動</h2>

  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to "入力へ移動", create_path, class: 'btn btn-success btn-block mb-4' %>
    <%= link_to t('activerecord.attributes.pharmacy.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
  </div>
</div>