<div class="container-login">
  <h2>体調記録</h2>
  <%= fields_for :condition do |f| %>
  <div class="form-group">
    <f.label for="range">収縮期血圧</label></br>
    <span>0</span><span style="float: right" id="value1">250</span>
    <input type="range" class="custom-range" min="0" max="250" id="range1" value="0">

    <script>
      var elem = document.getElementById('range1');
      var target = document.getElementById('value1');
      var rangeValue = function (elem, target) {
        return function(evt){
          target.innerHTML = elem.value;
        }
      }
      elem.addEventListener('input', rangeValue(elem, target));
    </script>

    <f.label for="range">拡張期血圧</label></br>
    <span>0</span><span style="float: right" id="value2">150</span>
    <input type="range" class="custom-range" min="0" max="150" id="range2" value="0">

    <script>
      var elem = document.getElementById('range2');
      var target = document.getElementById('value2');
      var rangeValue = function (elem, target) {
        return function(evt){
          target.innerHTML = elem.value;
        }
      }
      elem.addEventListener('input', rangeValue(elem, target));
    </script>

    <f.label for="range">脈拍</label></br>
    <span>0</span><span style="float: right" id="value3">200</span>
    <input type="range" class="custom-range" min="0" max="200" id="range3" value="0">

    <script>
      var elem = document.getElementById('range3');
      var target = document.getElementById('value3');
      var rangeValue = function (elem, target) {
        return function(evt){
          target.innerHTML = elem.value;
        }
      }
      elem.addEventListener('input', rangeValue(elem, target));
    </script>

    <f.label for="range">血糖値</label></br>
    <span>0</span><span style="float: right" id="value4">500</span>
    <input type="range" class="custom-range" min="0" max="500" id="range4" value="0">

    <script>
      var elem = document.getElementById('range4');
      var target = document.getElementById('value4');
      var rangeValue = function (elem, target) {
        return function(evt){
          target.innerHTML = elem.value;
        }
      }
      elem.addEventListener('input', rangeValue(elem, target));
    </script>

    <label for="exampleFormControlTextarea1">一言コメント</label>
    <textarea class="form-control" rows="3"></textarea>

  </div>
  <% end %>
  <hr class="devise-link my-5">
  <div class="form-group">
  <%= link_to "確認へ移動", condition_path, class: 'btn btn-success btn-block mb-4' %>
    <%= link_to t('activerecord.attributes.pharmacy.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
  </div>
</div>