<div class="container-login">
<h1>更新履歴</h1>
<h2>2020/5/1</h2>
<p>・アプリ作成開始</p>
<h2>2020/5/2</h2>
<p>・deviseの導入</p>
<p>・Userモデル追加</p>
<h2>2020/5/3</h2>
<p>・Userモデルにカラムを追加</p>
<p>・カラムにenumを使用</p>
<p>・enumの日本語化<p/>
<h2>2020/5/3</h2>
<p>・住所登録にjquery導入</p>
<h2>2020/5/4</h2>
<p>・navberの編集</p>
<p>・Pharmacyモデル追加</p>

</div>