<div class="container-login">
  <h2>どんなアプリケーションなの?</h2>
  <a>パソコン・タブレット・スマートフォンなどを用いて、お薬手帳の基本的な役割を担うことができます。</a></br>
  <a>持ち運びが不要であり、必要なときにいつでも情報を引き出したり記録することができます。</a>
  <hr class="devise-link my-5">
  <h2>お薬手帳とは何ですか?</h2>
  <a>薬に関する履歴を残すことができる便利な手帳です。</a></br>
  <a>病院から処方された医薬品を記録したり、お薬同士の飲み合わせを確認したり、過去に副作用の起きた薬を回避する事ができます。</a>
  <hr class="devise-link my-5">
  <h2>紙のお薬手帳じゃダメなの?</h2>
  <a>通院日に紙のお薬手帳をお忘れになる方がいらっしゃいます。</a></br>
  <a>医療機関ごとに複数のお薬手帳を使い分ける方もいらっしゃいます。</a></br>
  <a>例えいつも同じ薬が処方されるとしても、我々薬剤師はお薬手帳の記載内容の確認が必要です。</a></br>
  <a>紙のお薬手帳では不便な場面もあり得るので、そんな患者側・薬剤師側の問題を解決する一助になればと考えております。</a>
  <hr class="devise-link my-5">
  <h2>どんな機能があるの?</h2>
  <a>ユーザー情報　登録/編集/削除機能</a></br>
  <a>薬局情報　登録/編集/削除/検索機能</a></br>
  <a>お薬手帳記録　作成/編集/検索機能</a></br>
  <a>他にも様々な機能があり、随時更新中です。</a>
  <hr class="devise-link my-5">
  <h2>紙のお薬手帳は不要なの?</h2>
  <a>いいえ、必要です。</a></br>
  <a>パソコン・タブレット・スマートフォンがあったとしても、それを動かすのに必要ものは電力です。</a></br>
  <a>自然災害が発生した場合、十分な電力が確保できるとは限りません。<a></br>
  <a>どちらが優れているかという事ではなく、便利な方を有効に利用してもらうのが一番良いと考えております。<a>
  <hr class="devise-link my-5">
  <h2>利用にはお金がかかるの?</h2>
  <a>いいえ、料金は一切かかりません。</a></br>
  <a>一人でも多くの方に長く使って頂き、その有用性を広めたいと考えております。</a>
  <hr class="devise-link my-5">
  <h2>誰が作ってるの?</h2>
  <a>以下のリンクよりご確認頂けます。</a></br>
  <%= link_to "https://twitter.com/Growingplant3", target: :_blank do %>
    <i class="btn btn-social-icon btn-twitter"><span class="fab fa-twitter fa-2x"></span></i>
  <% end %>

  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to t('activerecord.attributes.user.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
  </div>
</div>