<div class="container-login">
  <h2>どんなアプリケーションなの?</h2>
  <a>内容１</a>
  <hr class="devise-link my-5">
  <h2>お薬手帳とは何ですか?</h2>
  <a>内容２</a>
  <hr class="devise-link my-5">
  <h2>なぜお薬手帳がwebアプリケーションとして必要なの?</h2>
  <a>内容３</a>
  <hr class="devise-link my-5">
  <h2>どんな機能があるの?</h2>
  <a>内容４</a>
  <hr class="devise-link my-5">
  <h2>紙媒体のお薬手帳は不要なの?</h2>
  <a>内容５</a>
  <hr class="devise-link my-5">
  <h2>お薬手帳アプリの利用にはお金がかかるの?</h2>
  <a>内容６</a>
  <hr class="devise-link my-5">
  <h2>誰がアプリケーションを作ってるの?</h2>
  <a>以下のリンクより確認頂けます。</a></br>
  <a class="fab fa-twitter fa-2x" href="https://twitter.com/Growingplant3"></a>

  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to t('activerecord.attributes.user.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
  </div>
</div>