<div class="container-login">
  <h1>開発履歴</h1>
  <h2>2020/5/1</h2>
  <p>・アプリ制作開始</p>
  <h2>2020/5/2</h2>
  <p>・deviseの導入</p>
  <p>・Userモデル追加</p>
  <h2>2020/5/3</h2>
  <p>・Userモデルにカラムを追加</p>
  <p>・カラムにenumを使用</p>
  <p>・enumの日本語化<p/>
  <h2>2020/5/3</h2>
  <p>・住所登録にjquery導入</p>
  <h2>2020/5/4</h2>
  <p>・navbarを追加</p>
  <p>・navbarに現在ログイン中の表示を追加</p>
  <p>・Pharmacyモデル追加</p>
  <h2>2020/5/5</h2>
  <p>・devise-i18n-viewsを使用</p>
  <p>・model複数のため、controllerを修正</p>
  <h2>2020/5/6</h2>
  <p>・navbarにボタンを配置</p>
  <p>・navbarに新規登録・ログイン機能を追加</p>
  <p>・navbarに編集機能を追加</p>
  <p>・navbarに皆様の声機能追加</p>
  <h2>2020/5/6</h2>
  <p>・controllerのdestroyアクションを修正</p>
  <h2>2020/5/7</h2>
  <p>・Activityモデル追加</p>
  <p>・1対多の関係性構築その1</p>
  <h2>2020/5/8</h2>
  <p>・1対多の関係性構築その2</p>
  <h2>2020/5/9</h2>
  <p>・LPの修正</p>
  <p>・navbarに開発履歴表示機能を追加</p>
  <h2>2020/5/10</h2>
  <p>・調剤薬局検索機能を追加</p>
  <p>・1対多の関係性構築その3</p>
  <h2>2020/5/11</h2>
  <p>・Conditionモデル追加</p>
  <p>・体調・服薬管理機能を追加</p>
  <p>・1対多の関係性構築その4</p>
  <h2>2020/5/12</h2>
  <p>・体調・服薬管理機能を修正その1</p>
  <p>・1対多の関係性構築その5</p>
  <h2>2020/5/13</h2>
  <p>・体調・服薬管理機能を修正その2</p>
  <p>・1対多の関係性構築その6</p>
  <h2>2020/5/14</h2>
  <p>・体調・服薬管理機能を修正その3</p>
  <h2>2020/5/15</h2>
  <p>・体調・服薬管理機能を修正その4</p>
  <h2>2020/5/16</h2>
  <p>・体調・服薬管理機能を修正その5</p>
  <h2>2020/5/17</h2>
  <p>・体調・服薬管理機能を修正その6</p>
  <p>・seed.rbでサンプルデータをいくつか作成</p>
  <h2>2020/5/18</h2>
  <p>・薬局確認ページを修正</p>
  <h2>2020/5/19</h2>
  <p>・薬局編集ページを修正</p>
  <p>・MedicineNotobookRecordモデル追加</p>
  <p>・DrugInformationモデル追加</p>
  <p>・多対多の関係性構築その1</p>
  <h2>2020/5/20</h2>
  <p>・薬局登録・編集のバグを修正</p>
  <p>・アプリケーションの説明を追加</p>
  <h2>2020/5/21</h2>
  <p>・お薬手帳情報作成機能を追加</p>
  <h2>2020/5/22</h2>
  <p>・HowToTakeモデル追加</p>
  <p>・routesの整備</p>
  <h2>2020/5/23</h2>
  <p>・お薬手帳情報入力フォーム作成その1</p>
  <p>・多対多の関係性構築</p>
  <h2>2020/5/24</h2>
  <p>・お薬手帳情報入力フォーム作成その2</p>
  <h2>2020/5/25</h2>
  <p>・お薬手帳情報入力フォーム作成その3</p>
  <h2>2020/5/26</h2>
  <p>・お薬手帳情報参照フォーム作成その1</p>
  <h2>2020/5/27</h2>
  <p>・お薬手帳情報参照フォーム作成その2</p>
  <h2>2020/5/28</h2>
  <p>・お薬手帳情報参照フォーム作成その3</p>

  


  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to t('activerecord.attributes.user.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
  </div>
</div>