<div class="container-login">
登録できたよ！

</div>

<div class="container-login">
  <hr class="devise-link my-5">
  <%= link_to t('activerecord.attributes.medicine_notebook_record.new_page'), root_path, class: 'btn btn-success btn-block mb-4' %>
  <%#= link_to t('activerecord.attributes.medicine_notebook_record.new_page'), medicine_notebook_new_path(params[:id]), class: 'btn btn-success btn-block mb-4' %>  
  <%= link_to t('activerecord.attributes.user.top_page'), root_path, class: 'btn btn-info btn-block mb-4' %>
</div>